*{
    box-sizing: border-box;
}
.content-wrapper{
    background-color: #eed;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 150px 200px 350px 150px;
    grid-template-areas: "header"
                        "banner"
                        "main"
                        "footer";
}

main.two-colaside{
    display: grid;
    grid-template-columns: 10fr 2fr;
    grid-template-rows: 150px;
    grid-template-areas: "left-section right-aside";
}

main.two-col{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 150px;
    grid-template-areas: "tl-left tl-right";
}


.content-wrapper main{
    margin:0 auto;
    min-width:80%;
    width:100%;
}
header, footer, .banner, main{
    padding: 20px;
}